<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToyGraf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ToyGraf.Properties.Settings>
            <setting name="FileFilter" serializeAs="String">
                <value>ToyGraf Files (*.tgxf)|*.tgxf|ToyGraf Templates (*.tgxt)|*.tgxt|All Files (*.*)|*.*</value>
            </setting>
            <setting name="Options_OpenInNewWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Options_GroupUndo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFilter" serializeAs="String">
                <value>Images (*.bmp;*.gif;*.jpeg;*.jpg;*.png)|*.bmp;*.gif;*.jpeg;*.jpg;*.png|All files (*.*)|*.*</value>
            </setting>
            <setting name="FilesFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatesFolderPath" serializeAs="String">
                <value />
            </setting>
        </ToyGraf.Properties.Settings>
    </userSettings>
</configuration>